.venv
q/
scripts/argocd-credentials-multi-region-eks-east.txt
scripts/argocd-credentials-multi-region-eks-west.txt
jenkins-credentials-multi-region-eks-east.txt
jenkins-credentials-multi-region-eks-west.txt